@model BigSchool.ViewModels.CourseHomePageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

<ul class="courses">
    @foreach (var course in Model.UpCommingCourses)
    {
        <li>
            <div class="date-time">
                <div class="date">
                    @course.DateTime.Month.ToString()
                </div>
                <div class="time">
                    @course.DateTime.Day.ToString()
                </div>
            </div>
            <div class="course-detail">
                <div class="detail">
                    <strong class="text-danger"> @course.Lecturer.Name </strong><br />
                    @course.Category.Name <br />

                    @if (Model.ShowAction)
                    {
                        if (Model.AttendedCourses.Contains(course.Id))
                        {
                            <a class="btn btn-danger js-toggle-attendance" data-courseId="@course.Id" href="#">
                                Going
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-info js-toggle-attendance" data-courseId="@course.Id" href="#">
                                Going?
                            </a>
                        }
                    }
                </div>

            </div>
        </li>
    }
</ul>
<div class="clear"></div>

@section scripts{
    <script>
        $(".js-toggle-attendance").click(function (e) {
            var button = $(e.target);
            var courseId = button.attr("data-courseId");
            if (button.hasClass("btn-info")) {
                addAttend(courseId);
                button
                      .removeClass("btn-info")
                      .addClass("btn-danger")
                      .text("Going");
            }
            else {
                cancelAttend(courseId);
                button
                      .removeClass("btn-danger")
                      .addClass("btn-info")
                      .text("Going?");
            }
        });

        function addAttend(courseId) {
            
            $.post("/api/attendances", { courseId: courseId })
               .done(function () {
                   alert("Attend Sucess!");
                  
               })
               .fail(function (xhr, status, error) {
                   alert(xhr.responseJSON.Message);
               })
        }

        function cancelAttend(courseId) {
            $.ajax({
                url: "/api/attendances",
                type: "DELETE",
                data: { courseId: courseId },
                success: function (result) {
                    alert("Cancel Sucess!");
                },
                fail: function (xhr, status, error) {
                    alert(xhr.responseJSON.Message);
                }
            });
        }

    </script>
}
