@model BigSchool.ViewModels.CourseHomePageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

<ul class="courses">
    @foreach (var course in Model.UpCommingCourses)
    {
        <li>
            <div class="date-time">
                <div class="date">
                    @course.DateTime.Month.ToString()
                </div>
                <div class="time">
                    @course.DateTime.Day.ToString()
                </div>
            </div>
            <div class="course-detail">
                <div class="detail">
                    <strong class="text-danger"> @course.Lecturer.Name </strong><br />
                    @course.Category.Name <br />

                    @if (Model.ShowAction)
                    {
                        <a class="btn btn-info" href="@Url.Action("Attend","Attendances", new {id=course.Id })">Going?</a>
                    }
                </div>

            </div>
        </li>
    }
</ul>
<div class="clear"></div>
